:root {
  --white: #fff;
  --black: #000;
  --antiflash-white: #eef7f7;
  --lotion: #fcfcfa;
  --fluorescent-blue: #28e3e9;
  --faded-fluroblue: #62c3c64d;
  --midnight-green: #045a5c;
  --sea-serpent: #62c3c64d;
  --visible-sea-serpent: #62c3c6;
  --calamansi: #ecfeaa;
  --dark-slate-gray: #365758;
  --faded-blood: #a10c0c0d;
  --blood: #a10c0c;
  --metallic-seaweed: #1a8d91;
}